header{
    height: 250px;
}

body {
    background: url("../static/image/24.pngtree-red-yellow-background-high-res-stock-images-pngtree-image_732379.jpg") no-repeat center center fixed;
    background-size: cover;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(223, 59, 9, 0.73);
    height: 50px;
    border-radius: 50px;
}

div {
    font-family: cursive, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    align-items: center;
}

.en-tête {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}

.recherche {
    margin: 0;

}

.nom {
    display: flex;
    align-items: center;
    text-decoration: underline;
    text-decoration-color: black;
}

.erreur404{
    margin-bottom: 50px;

}

h1{
    color: black;
}

h1::first-letter {
    font-size: 50px;
    color:white;
}

h2::first-letter {
    font-size: 50px;
    color: white;
}

.nom2 {
    display: flex;
    align-items: center;
    text-decoration: underline;
    text-decoration-color: black;

}

.ligne{
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
    width: 1465px;
}
.vignette{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.formulaire{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
}

footer {
    display: flex;
    flex-direction: row;
    background-color:   rgba(223, 59, 9, 0.73);
    justify-content: space-between;
    border-radius: 50px;

}

.range{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 50px;
    margin-top: 20px;
    border-top: 5px;

}

.row{
    display: flex;
    flex-direction: row;
}

.concepteurs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    margin: 10px;
    
}
.loi{
    display: flex;
    margin-left: 250px;
    width: 70%;
    font-family: cursive, Geneva, Tahoma, sans-serif;
    color: black;
}
.mentions {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 250px;
    margin-bottom: 100px;
}

.alt {
    margin-bottom: 50px ;
}


.coprs{
    display: flex;
    flex-direction: column;
}
.informations{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

h6 {
    margin: 10px;
}

a:link {
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 768px) {
    .ligne, .vignette, .formulaire {
        width: 100%; /* Ajuster la largeur à 100% pour les écrans plus petits */
    }

    .footer {
        flex-direction: column; /* Changer à une disposition en colonne sur des écrans plus petits */
    }

    .loi, .mentions {
        width: 100%; /* Ajuster la largeur à 100% pour les écrans plus petits */
    }
}