{{ define "index.html" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Catégorie</title>
    <meta name="viewport" content="" width=device-width, initial-scale="1.0">
    <link rel="stylesheet" href="accueil.css">
</head>

<body>
    <header>
        <div class="en-tête">
            <div>
                <img class="logo" src="image/LogoActiveSports.png" alt="Logo du blog" width="124" height="124">
            </div>
            <div class="nom">
                <h1> ActiveSports </h1>
            </div>
            <div class="nom2">
                <h2> Où la passion du sport prend vie. </h2>
            </div>
        </div>
        <div class="menu">
            <a href="https://www.google.fr/" style="color:whitesmoke;"> Tops 10</a>       <!-- mettre les lien des pages quand elles seront créées --> 
            <a href="https://www.google.fr/" style="color:whitesmoke;"> Tutoriels</a>       <!-- mettre les lien des pages quand elles seront créées -->          
            <a href="https://www.google.fr/" style="color:whitesmoke;"> Nouveautes</a>       <!-- mettre les lien des pages quand elles seront créées --> 
            <a href="https://www.google.fr/" style="color:whitesmoke;"> Recherche</a>       <!-- mettre les lien des pages quand elles seront créées --> 
        </div>
    </header>








    <footer>
        <div class="concepteurs">
            <h6> SIARY MAUREL Louka</h6> 
            <h6> FELLAH Adem</h6>
            <h6> CLERC Alexis</h6>
            <h6> TICHIT Johan</h6>
        </div>
        <div class="informations"> 
            <a href="https://www.google.fr/" style="color:whitesmoke;"> Ymmersion 2</a>       <!-- mettre les lien des pages quand elles seront créées --> 
            <a href="https://www.google.fr/" style="color:whitesmoke;"> Contact</a>       <!-- mettre les lien des pages quand elles seront créées --> 
            <a href="https://www.google.fr/" style="color:whitesmoke;"> Mentions Légales</a>      <!-- mettre les lien des pages quand elles seront créées --> 
        </div>
    </footer>
</body>
{{ end }}