{{ define "index.html" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Administration</title>
    <meta name="viewport" content="" width=device-width, initial-scale="1.0">
    <link rel="stylesheet" href="accueil.css">
</head>

<body>
    <header>
        <div class="en-tête">
            <div>
                <img class="logo" src="image/LogoActiveSports.png" alt="Logo du blog" width="124" height="124">
            </div>
            <div class="nom">
                <h1> ActiveSports </h1>
            </div>
            <div class="nom2">
                <h2> Où la passion du sport prend vie. </h2>
            </div>
        </div>
        <div class="menu">
            <a href="/templates/2.1catégorie.html" style="color:whitesmoke;"> Tops 10</a>
            <a href="/templates/2.2categorie.html" style="color:whitesmoke;"> Tutoriels</a>
            <a href="/templates/2.3categorie.html" style="color:whitesmoke;"> Nouveautes</a>
            <a href="/templates/4recherche.html" style="color:whitesmoke;"> Recherche</a>
        </div>
    </header>



    <p> Affiche une liste de tout les articles avec un bouton pour les supprimer plus un bouton en haut de page pour créer un nouvel article ( redirection vers la page 6ajout ). </p>




    <footer>
        <div class="concepteurs">
            <h6> SIARY MAUREL Louka</h6> 
            <h6> FELLAH Adem</h6>
            <h6> CLERC Alexis</h6>
            <h6> TICHIT Johan</h6>
        </div>
        <div class="informations"> 
            <a href="/templates/8ymmersion2.html" style="color:whitesmoke;"> Ymmersion 2</a>
            <a href="/templates/9contact.html" style="color:whitesmoke;"> Contact</a>
            <a href="/templates/10mentionslegales.html" style="color:whitesmoke;"> Mentions Légales</a>
        </div>
    </footer>
</body>
{{ end }}