{{define "category2.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catégorie 2</title>
</head>
<body>
    <h1>Catégorie 2</h1>
    {{range .}}
    <div>

        <a href="/article/{{.ID}}">{{.Titre}}</a>
<p>{{.ContenuCourt}}</p>
        <p>Auteur: {{.Auteur}}</p>
        <img src="{{.Images.URL}}" alt="Image">
    </div>
    {{end}}
</body>
</html>
{{end}}