{{define "contact.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/1accueil.css">
</head>

<body>
    <header>
        <div class="en-tête">
            <div><a href="/index/">
                <img src="../static/image/LogoActiveSports.png" alt="Logo du blog" width="124" height="124"></a>
            </div>
            <div class="nom">
                <h1> ActiveSports </h1>
            </div>
            <div class="nom2">
                <h2> Où la passion du sport prend vie. </h2>
            </div>
        </div>
        <div class="menu">
            <a href="/category1/" style="color: black;"> Tops 10</a>
            <a href="/category2/" style="color: black;"> Tutoriels</a>
            <a href="/category3/" style="color: black;"> Nouveautes</a>
            <form class="recherche" action="/" method="GET">
                <label for="search">Rechercher un article:</label>
                <input type="text" id="search" name="term" placeholder="Entrez le titre">
                <button type="submit">Rechercher</button>
            </form>
        </div>
    </header>
    <h1>Contactez-nous</h1>

    <form id="contactForm" class="formulaire">
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Adresse e-mail:</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="8" required></textarea>

        <button type="submit">Envoyer le message</button>
    </form>

    <script>
        document.getElementById('contactForm').addEventListener('submit', function(event) {
            event.preventDefault();
            // Ajoutez ici le code pour envoyer les données du formulaire à votre serveur
            // par exemple, en utilisant fetch() ou une autre méthode.
        });
    </script>
    <footer>
        <div class="concepteurs">
            <h6> SIARY MAUREL Louka</h6>
            <h6> FELLAH Adem</h6>
            <h6> CLERC Alexis</h6>
            <h6> TICHIT Johan</h6>
        </div>
        <div class="informations">
            <a href="/ymmersion2" style="color:black;"> Ymmersion 2</a>
            <a href="/contact" style="color:black;"> Contact</a>
            <a href="/mentionslegales" style="color:black;"> Mentions Légales</a>
        </div>
    </footer>
</body>

</html>
{{end}}





















































































