{{define "index.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/1accueil.css">
    <title>Accueil</title>
</head>
<body>
    <header>
        <div class="en-tête">
            <div><a href="/">
                <img src="../static/image/LogoActiveSports.png" alt="Logo du blog" width="124" height="124"></a>
            </div>
            <div class="nom">
                <h1> ActiveSports </h1>
            </div>
            <div class="nom2">
                <h2> Où la passion du sport prend vie. </h2>
            </div>
        </div>
        <div class="menu">
            <a href="/category1/" > Tops 10</a>
            <a href="/category2/" > Tutoriels</a>
            <a href="/category3/" > Nouveautés</a>
           <form class="recherche" action="/search/" method="GET">
    <label for="search">Rechercher un article:</label>
    <input type="text" id="search" name="term" placeholder="Entrez le titre">
    <button type="submit">Rechercher</button>
</form>
<a href="/login/">Administration</a>
        </div>
    </header>
    
    <div class="range">
        {{range .}}
      
        <a href="/article/{{.ID}}"> <img src="../static/image/image{{.ID}}.jpg" alt="Image"><h2>{{.Titre}}</h2></a>
        <p>{{.ContenuCourt}}</p>
        <p>Auteur: {{.Auteur}}</p>{{end}}
    </div>
    
    <footer>
        <div class="concepteurs">
            <h6> SIARY MAUREL Louka</h6>
            <h6> FELLAH Adem</h6>
            <h6> CLERC Alexis</h6>
            <h6> TICHIT Johan</h6>
        </div>
        <div class="informations">
            <a href="/templates/8ymmersion2.html" style="color:black;"> Ymmersion 2</a>
            <a href="/templates/9contact.html" style="color:black;"> Contact</a>
            <a href="/templates/10mentionslegales.html" style="color:black;"> Mentions Légales</a>
        </div>
    </footer>
</body>
</html>
{{end}}